@import url(https://fonts.googleapis.com/css?family=Roboto:900|Roboto+Mono:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, details, footer, header, main, menu, nav, section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

b, strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    box-sizing: content-box;
    height: 0
}

button, input, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    text-align: left;
    width: 50%
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
    *, :after, :before {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a, a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: ""
    }

    img, tr {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2, h3 {
        page-break-after: avoid
    }

    .navbar {
        display: none
    }

    .label {
        border: 1px solid #000
    }

    .table {
        border-collapse: collapse !important
    }

    .table td {
        background-color: #fff !important
    }
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: Roboto Mono, Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.78;
    color: #000;
    background-color: #fff
}

button, input, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #001aff;
    text-decoration: none
}

a:focus, a:hover {
    color: #0012b3;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

hr {
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0;
    border-top: 1px solid #eee
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

[role=button] {
    cursor: pointer
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Mono, Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #000
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 19px;
    margin-bottom: 9.5px
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 9.5px;
    margin-bottom: 9.5px
}

.h1, h1 {
    font-size: 70px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 20px
}

.h4, .h5, h4, h5 {
    font-size: 11px
}

.h6, h6 {
    font-size: 10px
}

p {
    margin: 0 0 9.5px
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-success {
    color: #fff
}

a.text-success:focus, a.text-success:hover {
    color: #e6e6e6
}

.text-info {
    color: #31708f
}

a.text-info:focus, a.text-info:hover {
    color: #245269
}

.text-danger {
    color: #fff
}

a.text-danger:focus, a.text-danger:hover {
    color: #e6e6e6
}

ol, ul {
    margin-top: 0;
    margin-bottom: 9.5px
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

.list-inline, .list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    margin-left: -5px
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after, .container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width: 768px) {
    .container {
        width: 750px
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.row:after, .row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}

.col-xs-1 {
    width: 8.33333%
}

.col-xs-2 {
    width: 16.66667%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.33333%
}

.col-xs-5 {
    width: 41.66667%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.33333%
}

.col-xs-8 {
    width: 66.66667%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.33333%
}

.col-xs-11 {
    width: 91.66667%
}

.col-xs-12 {
    width: 100%
}

.col-xs-push-0 {
    left: auto
}

.col-xs-push-1 {
    left: 8.33333%
}

.col-xs-push-2 {
    left: 16.66667%
}

.col-xs-push-3 {
    left: 25%
}

.col-xs-push-4 {
    left: 33.33333%
}

.col-xs-push-5 {
    left: 41.66667%
}

.col-xs-push-6 {
    left: 50%
}

.col-xs-push-7 {
    left: 58.33333%
}

.col-xs-push-8 {
    left: 66.66667%
}

.col-xs-push-9 {
    left: 75%
}

.col-xs-push-10 {
    left: 83.33333%
}

.col-xs-push-11 {
    left: 91.66667%
}

.col-xs-push-12 {
    left: 100%
}

table {
    background-color: transparent
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 19px
}

.table .table {
    background-color: #fff
}

table col[class*=col-] {
    position: static;
    float: none;
    display: table-column
}

table td[class*=col-] {
    position: static;
    float: none;
    display: table-cell
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

input[type=checkbox]:focus, input[type=file]:focus, input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.form-control {
    display: block;
    font-size: 11px;
    line-height: 1.78;
    color: #555
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #000;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.form-control:focus {
    border-color: #66afe9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

.form-control[disabled], .form-control[readonly] {
    background-color: #eee;
    opacity: 1
}

.form-control[disabled] {
    cursor: not-allowed
}

textarea.form-control {
    height: auto
}

input[type=search] {
    -webkit-appearance: none
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
        line-height: 40px
    }
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px
}

.checkbox label {
    min-height: 19px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: -20px
}

.checkbox + .checkbox {
    margin-top: -5px
}

.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: 400;
    cursor: pointer
}

.checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px
}

input[type=checkbox][disabled], input[type=radio][disabled] {
    cursor: not-allowed
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #404040
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .form-inline .checkbox label {
        padding-left: 0
    }

    .form-inline .checkbox input[type=checkbox] {
        position: relative;
        margin-left: 0
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 14px;
    font-size: 11px;
    line-height: 1.78;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:focus, .btn:hover {
    color: #000;
    text-decoration: none
}

.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn[disabled] {
    cursor: not-allowed;
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default, .btn-default:active, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .btn-default:focus, .btn-default:hover {
    color: #000;
    background-color: transparent;
    border-color: #000
}

.btn-default:active {
    background-image: none
}

.btn-default[disabled]:focus, .btn-default[disabled]:hover {
    background-color: transparent;
    border-color: #000
}

.btn-success {
    color: #5cb85c;
    background-color: transparent;
    border-color: #5cb85c
}

.btn-success:focus {
    color: #5cb85c;
    background-color: transparent;
    border-color: #2d672d
}

.btn-success:active, .btn-success:hover {
    color: #5cb85c;
    background-color: transparent;
    border-color: #419641
}

.btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover {
    color: #5cb85c;
    background-color: transparent;
    border-color: #2d672d
}

.btn-success:active {
    background-image: none
}

.btn-success[disabled]:focus, .btn-success[disabled]:hover {
    background-color: transparent;
    border-color: #5cb85c
}

.btn-info {
    border-color: #5bc0de
}

.btn-info, .btn-info:focus {
    color: #5bc0de;
    background-color: transparent
}

.btn-info:focus {
    border-color: #1f7e9a
}

.btn-info:active, .btn-info:hover {
    color: #5bc0de;
    background-color: transparent;
    border-color: #2aabd2
}

.btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover {
    color: #5bc0de;
    background-color: transparent;
    border-color: #1f7e9a
}

.btn-info:active {
    background-image: none
}

.btn-info[disabled]:focus, .btn-info[disabled]:hover {
    background-color: transparent;
    border-color: #5bc0de
}

.btn-danger {
    color: #d9534f;
    background-color: transparent;
    border-color: #d9534f
}

.btn-danger:focus {
    color: #d9534f;
    background-color: transparent;
    border-color: #8b211e
}

.btn-danger:active, .btn-danger:hover {
    color: #d9534f;
    background-color: transparent;
    border-color: #c12e2a
}

.btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover {
    color: #d9534f;
    background-color: transparent;
    border-color: #8b211e
}

.btn-danger:active {
    background-image: none
}

.btn-danger[disabled]:focus, .btn-danger[disabled]:hover {
    background-color: transparent;
    border-color: #d9534f
}

.btn-link {
    color: #001aff;
    font-weight: 400;
    border-radius: 0
}

.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent
}

.btn-link:focus, .btn-link:hover {
    color: #0012b3;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:focus, .btn-link[disabled]:hover {
    color: #777;
    text-decoration: none
}

.btn-xs {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 0
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: 5px
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

[data-toggle=buttons] > .btn input[type=checkbox], [data-toggle=buttons] > .btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:after, .nav:before {
    content: " ";
    display: table
}

.nav:after {
    clear: both
}

.nav > li, .nav > li > a {
    position: relative;
    display: block
}

.nav > li > a {
    padding: 10px 15px
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent
}

.nav > li > a > img {
    max-width: none
}

.navbar {
    position: relative;
    min-height: 20px;
    margin-bottom: 19px;
    border: 1px solid transparent
}

.navbar:after, .navbar:before {
    content: " ";
    display: table
}

.navbar:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0
    }
}

.navbar-header:after, .navbar-header:before {
    content: " ";
    display: table
}

.navbar-header:after {
    clear: both
}

@media (min-width: 768px) {
    .navbar-header {
        float: left
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1);
    -webkit-overflow-scrolling: touch
}

.navbar-collapse:after, .navbar-collapse:before {
    content: " ";
    display: table
}

.navbar-collapse:after {
    clear: both
}

.navbar-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0
    }
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px
}

@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 200px
    }
}

.container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width: 768px) {
    .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}

@media (min-width: 768px) {
    .navbar-fixed-bottom, .navbar-fixed-top {
        border-radius: 0
    }
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: -7px;
    margin-bottom: -7px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: .25px -15px
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 19px
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav > li {
        float: left
    }

    .navbar-nav > li > a {
        padding-top: .5px;
        padding-bottom: .5px
    }
}

.navbar-form {
    margin: -10px -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1), 0 1px 0 hsla(0, 0%, 100%, .1);
    box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .1), 0 1px 0 hsla(0, 0%, 100%, .1)
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .navbar-form .checkbox label {
        padding-left: 0
    }

    .navbar-form .checkbox input[type=checkbox] {
        position: relative;
        margin-left: 0
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
}

.navbar-btn {
    margin-top: -10px;
    margin-bottom: -10px
}

.navbar-btn.btn-xs {
    margin-top: -1px;
    margin-bottom: -1px
}

.navbar-text {
    margin-top: .5px;
    margin-bottom: .5px
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }

    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
}

.navbar-default {
    background-color: #fff;
    border-color: transparent
}

.navbar-default .navbar-text {
    color: #fff
}

.navbar-default .navbar-nav > li > a {
    color: #000
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent
}

.navbar-default .navbar-link {
    color: #000
}

.navbar-default .navbar-link:hover {
    color: #333
}

.navbar-default .btn-link {
    color: #000
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover {
    color: #ccc
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: #fff
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent
}

.navbar-inverse .navbar-link {
    color: #9d9d9d
}

.navbar-inverse .navbar-link:hover {
    color: #fff
}

.navbar-inverse .btn-link {
    color: #9d9d9d
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #fff
}

.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover {
    color: #444
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

a.label:focus, a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label-default {
    background-color: #777
}

.label-default[href]:focus, .label-default[href]:hover {
    background-color: #5e5e5e
}

.label-success {
    background-color: #5cb85c
}

.label-success[href]:focus, .label-success[href]:hover {
    background-color: #449d44
}

.label-info {
    background-color: #5bc0de
}

.label-info[href]:focus, .label-info[href]:hover {
    background-color: #31b0d5
}

.label-danger {
    background-color: #d9534f
}

.label-danger[href]:focus, .label-danger[href]:hover {
    background-color: #c9302c
}

.alert {
    padding: 15px;
    margin-bottom: 19px;
    border: 1px solid transparent;
    border-radius: 0
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert-success {
    background-color: #4BB543;
    border-color: #4BB543;
    color: #fff;
}

.alert-success hr {
    border-top-color: #4BB543
}

.alert-success .alert-link {
    color: #e6e6e6
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-danger {
    background-color: #D0342C;
    border-color: #D0342C;
    color: #fff
}

.alert-danger hr {
    border-top-color: #e60000
}

.alert-danger .alert-link {
    color: #e6e6e6
}

.carousel {
    position: relative
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: transparent
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, .0001));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001));
    background-repeat: repeat-x
}

.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001), rgba(0, 0, 0, .5));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5));
    background-repeat: repeat-x
}

.carousel-control:focus, .carousel-control:hover {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.show {
    display: block !important
}

#site-border-bottom, #site-border-left, #site-border-right, #site-border-top {
    background: #000;
    position: fixed;
    z-index: 3
}

#site-border-left, #site-border-right {
    top: 0;
    bottom: 0;
    width: 10px
}

#site-border-left {
    left: 0
}

#site-border-right {
    right: 0
}

#site-border-bottom, #site-border-top {
    left: 0;
    right: 0;
    height: 10px
}

#site-border-top {
    top: 0
}

#site-border-bottom {
    bottom: 0
}

body {
    padding: 10px;
    min-height: 100vh
}

body.minimal {
    border: none;
    padding: 0
}

.hero-full-container {
    height: 100vh
}

.hero-full-container h1 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 900
}

.hero-full-container .hero-full-wrapper {
    display: table;
    width: 100%;
    height: 100vh;
    min-height: 100vh
}

.hero-full-container .hero-full-wrapper .text-content {
    vertical-align: middle;
    display: table-cell
}

.white-text-container h1, .white-text-container h2, .white-text-container h3, .white-text-container h4, .white-text-container h5, .white-text-container p {
    text-shadow: 0 1px 3px #000;
    color: #fff
}

.white-text-container a {
    color: #fff
}

.section-container-spacer {
    margin-bottom: 30px
}

@media (min-width: 1200px) {
    .section-container-spacer {
        margin-bottom: 40px
    }
}

.section-container {
    padding: 60px 0
}

@media (min-width: 1200px) {
    .section-container {
        padding: 80px 0
    }
}

.section-container.only-container {
    min-height: 84vh
}

@media (max-width: 768px) {
    .section-container:first-of-type {
        padding-top: 30px
    }
}

.background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}

.btn {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.btn-default:focus, .btn-default:hover {
    color: #fff;
    background-color: #000;
    border-color: #000
}

.btn-info:focus, .btn-info:hover {
    color: #fff;
    border-color: #5bc0de;
    background-color: #5bc0de
}

.btn-success:focus, .btn-success:hover {
    color: #fff;
    border-color: #5cb85c;
    background-color: #5cb85c
}

.btn-danger:focus, .btn-danger:hover {
    color: #fff;
    border-color: #d9534f;
    background-color: #d9534f
}

body, p {
    font-weight: 300;
    letter-spacing: .8px;
    line-height: 25px
}

p {
    margin: 0 0 15px
}

.h2, h2 {
    position: relative;
    display: inline-block
}

.h2:after, .h2:before, h2:after, h2:before {
    content: "";
    position: absolute;
    height: 100%;
    background-color: #000;
    width: 1px
}

.h2:before, h2:before {
    left: 1px
}

.h2:after, h2:after {
    right: 1px
}

@media (min-width: 992px) {
    .h2, h2 {
        padding: 0 30px
    }
}

@media (max-width: 992px) {
    .h2:after, .h2:before, h2:after, h2:before {
        display: none
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-bottom: 20px
}

.form-control {
    box-shadow: none
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none
}

label {
    font-weight: 400
}

textarea {
    max-width: 100%
}

.card-container {
    background-color: #fff;
    padding: 2rem 5rem;
    position: relative;
    width: 80%;
    margin: -10em auto 20px
}

@media (max-width: 992px) {
    .card-container {
        padding: 2rem;
        margin-top: -5em
    }
}

.carousel-control {
    top: 50%;
    bottom: auto;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 1px solid #000;
    background-color: #000;
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    text-shadow: none;
    opacity: 1
}

.carousel-control:hover {
    color: #fff;
    background-color: #000;
    opacity: .8
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control.right {
    right: -25px
}

.carousel-control.left {
    left: -25px
}

@media (max-width: 992px) {
    .carousel-control.right {
        right: -12px
    }

    .carousel-control.left {
        left: -12px
    }
}

.navbar {
    border: none;
    min-height: inherit
}

@media (min-width: 768px) {
    .navbar {
        margin: 10px
    }
}

.navbar-default .navbar-collapse, .navbar-inverse .navbar-collapse {
    margin: 10px -5px;
    box-shadow: none
}

.navbar-default .navbar-collapse .navbar-nav, .navbar-inverse .navbar-collapse .navbar-nav {
    padding: 20px
}

@media (min-width: 768px) {
    .navbar-default .navbar-collapse, .navbar-inverse .navbar-collapse {
        margin: 0;
        padding: 30px 0
    }

    .navbar-default .navbar-collapse .navbar-nav, .navbar-inverse .navbar-collapse .navbar-nav {
        padding: 0
    }
}

.navbar-default .navbar-toggle, .navbar-inverse .navbar-toggle {
    padding: 20px;
    margin: 0;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    background-color: #fff
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #fff
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li > a {
        border-right: 1px solid #fff
    }
}

.navbar-inverse .navbar-nav > li:last-of-type a {
    border-right: none
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #000
}

.navbar-default .navbar-nav {
    border-bottom: 1px solid #eee
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav {
        border: none
    }
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav > li > a {
        border-right: 1px solid #000
    }
}

.navbar-default .navbar-nav > li:last-of-type a {
    border-right: none
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff
}

@media (max-width: 768px) {
    .navbar-inverse {
        background-color: transparent
    }

    .navbar-inverse .navbar-collapse {
        background-color: #000
    }

    .navbar-default {
        background-color: transparent
    }

    .navbar-default .navbar-collapse {
        background-color: #fff
    }
}

.nav > li > a {
    font-size: 14px;
    font-weight: 300;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}

.nav > li > a:hover {
    font-weight: 700
}

.list-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.list-icons li {
    float: left;
    margin-right: 5px
}

.container .card {
    position: relative;
    cursor: pointer
}

.platzhalter {
    width: 100px
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%)
}

.site_text {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

/* locations start */
.card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, .4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem
}

.card h1 {
    text-align: center
}

.card .additional {
    position: absolute;
    width: 50px;
    height: 100%;
    background: #fff;
    transition: width .4s;
    overflow: hidden;
    z-index: 2
}

.card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0
}

.card:hover .additional .citynamen {
    color: #fff
}

.card .additional .user-card {
    width: 50px;
    height: 100%;
    position: relative;
    float: left
}

.card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0, 0, 0, .025)
}

.card .additional .more-info {
    width: 380px;
    float: left;
    position: absolute;
    left: 60px;
    height: 100%
}

.card .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0
}

.card .additional .more-info a {
    margin: 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333
}

.card .additional .more-info a:hover {
    background: #333;
    color: #fff
}

.card .general {
    width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    filter: grayscale(100%)
}

.card .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: .9em
}

.citynamen {
    writing-mode: vertical-lr;
    font-size: 30px;
    padding: 5px
}

#locations_text {
    width: 75%
}
/* locations end */

/* footer menü start */
.footer-nav {
    text-decoration: none;
    padding: 5px 5px 5px 5px
}

.footer-nav li {
    display: inline;
    list-style-type: none;
    color: #000
}

.footer-nav a:link, a:visited {
    color: #000;
    text-decoration: none
}

.footer-nav a:hover {
    color: #000;
    text-decoration: none;
    font-weight: 700
}

.footer-menu {
    margin-top: -40px
}
/* footer menü end */

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

img {
    max-width: 100%;
    height: auto
}

/* über uns start */
.table_about {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #000;
    border-bottom: 2px solid #000
}

.table_about td {
    text-align: center;
    border-bottom: 1px solid #000
}

.team-section {
    position: relative;
    padding: 80px 0 60px
}

.team-block {
    position: relative
}

.border {
    background: 0 0;
    border-radius: 10px;
    transition: border 1s;
    position: relative
}

.border h2 {
    background-color: transparent;
    color: #fff
}

.border h2:after {
    background-color: transparent
}

.card_ab {
    height: 280px;
    width: 220px;
    background: grey;
    border-radius: 0;
    transition: background .8s;
    overflow: hidden;
    background: #000;
    display: flex
}

.card0 {
    background: url(assets/images/portraits/jh.png) center center no-repeat;
    background-size: 220px
}

.card0 h2 {
    visibility: hidden;
    font-size: 22px
}

.card0 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card0:hover {
    background: url(assets/images/portraits/jh.png) left center no-repeat;
    background-size: 500px
}

.card0:hover h2 {
    opacity: 1;
    visibility: visible
}

.card0:hover p {
    opacity: 1;
    visibility: visible
}

.card1 {
    background: url(assets/images/portraits/js.png) center center no-repeat;
    background-size: 220px
}

.card1 h2 {
    visibility: hidden;
    font-size: 22px
}

.card1 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card1:hover {
    background: url(assets/images/portraits/js.png) left center no-repeat;
    background-size: 500px
}

.card1:hover h2 {
    opacity: 1;
    visibility: visible
}

.card1:hover p {
    opacity: 1;
    visibility: visible
}

.card2 {
    background: url(assets/images/portraits/mf.png) center center no-repeat;
    background-size: 220px
}

.card2 h2 {
    visibility: hidden;
    font-size: 22px
}

.card2 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card2:hover {
    background: url(assets/images/portraits/mf.png) left center no-repeat;
    background-size: 500px
}

.card2:hover h2 {
    opacity: 1;
    visibility: visible
}

.card2:hover p {
    opacity: 1;
    visibility: visible
}

.card3 {
    background: url(assets/images/portraits/ms.png) center center no-repeat;
    background-size: 220px
}

.card3 h2 {
    visibility: hidden;
    font-size: 22px
}

.card3 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card3:hover {
    background: url(assets/images/portraits/ms.png) left center no-repeat;
    background-size: 500px
}

.card3:hover h2 {
    opacity: 1;
    visibility: visible
}

.card3:hover p {
    opacity: 1;
    visibility: visible
}

.card4 {
    background: url(assets/images/portraits/pw.png) center center no-repeat;
    background-size: 220px
}

.card4 h2 {
    visibility: hidden;
    font-size: 22px
}

.card4 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card4:hover {
    background: url(assets/images/portraits/pw.png) left center no-repeat;
    background-size: 500px
}

.card4:hover h2 {
    opacity: 1;
    visibility: visible
}

.card4:hover p {
    opacity: 1;
    visibility: visible
}

.card5 {
    background: url(assets/images/portraits/free.png) center center no-repeat;
    background-size: 220px
}

.card5 h2 {
    visibility: hidden;
    font-size: 22px
}

.card5 p {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
    margin-top: -20px;
    visibility: hidden
}

.card5:hover {
    background: url(assets/images/portraits/free.png) left center no-repeat;
    background-size: 500px
}

.card5:hover h2 {
    opacity: 1;
    visibility: visible
}

.card5:hover p {
    opacity: 1;
    visibility: visible
}

.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.about_table {
    margin-left: auto;
    margin-right: auto
}

td {
    padding-bottom: 10px;
    padding-right: 10px;
    width: auto
}

.socials_kontakt li {
    display: inline
}

.socials_kontakt img {
    width: 6%
}

#facebook:hover {
    background-image: url(assets/images/icons/facebook_c.png)
}

#instagram:hover {
    background-image: url(assets/images/icons/instagram_c.png)
}

#twitter:hover {
    background-image: url(assets/images/icons/twitter_c.png)
}

#youtube:hover {
    background-image: url(assets/images/icons/youtube_c.png)
}

#spotify:hover {
    background-image: url(assets/images/icons/spotify_c.png)
}
/* über uns end */

/* booking + kontakt start */
.booking_formular {
    width: 35%;
    margin: 20px auto;
    background: #fff;
    border-radius: 3px;
    text-align: center
}

.kontakt_formular {
    width: 90%;
    margin: 20px auto;
    background: #fff;
    border-radius: 3px;
    text-align: center
}

form.register {
    height: 420px
}

#success, #success_absenden {
    display: none
}

#date_danger, #human_danger, #mail_danger, #nachricht_danger, #name_danger, #ort_danger, #date_danger2 {
    display: none
}

.kontakt {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
/* booking + kontakt end */

/* unser angebot start */
.angebot_btns {
    padding: 0;
    margin: 0 auto
}

.angebot_btns {
    float: right;
    width: 100%;
    margin: 0;
    text-align: center
}

.angebot_btns li {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    zoom: 1
}

.menu {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 90%;
    z-index: -1
}

.title {
    position: relative;
    padding: 10px;
    font-size: 16px;
    font-weight: 700
}

.title span {
    position: relative;
    background: #fff;
    padding: 0 15px 0 0
}

.title .price {
    float: right;
    padding: 0 0 0 15px
}

.title:before {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 1px;
    border-top: 2px dotted rgba(0, 0, 0, .3);
    display: block;
    content: ''
}

@media (min-width: 420px) {
    article {
        width: 50%;
        float: left
    }
}

article p {
    margin: 0;
    padding: 0 10px 10px
}

.sticky {
    height: 50px;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 99px
}

.btn_top {
    text-align: center
}
/* unser angebot end */

/* footer menü startseite start */
#footer_main {
    background-color: #000;
    color: #fff
}

#body_main {
    background-color: #000
}

#dummy:hover {
    font-weight: unset
}
/* footer menü startseite start */